.content{
  display: flex;
  padding: 0 65px;
  flex-flow: wrap;
  padding-right: 0px;
}
.content li{
  /* border: solid 1px red; */
  width: 271px;
  margin-right: 65px;
  height: 486px;
}
.footer{
  padding-left:80px;
  padding-top: 80px;
  padding-bottom: 40px;
}